<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href = "/css/stylesheet.css">
  <title>File Metadata</title>
</head>
<body>
<h1 id="header" class="title">File Metadata Microservice</h1>
<p> Submit a file to view its size</p>
<form method="post" enctype="multipart/form-data" action="/">
    <input type="file" value="Choose File" name="upload"/>
    <input type="submit" />
</form>
<p>
    Check out the <a href="https://github.com/ajGingrich/File-Metadata" target="_blank">github repository</a>
    or the <a href="https://www.freecodecamp.com/challenges/file-metadata-microservice" target="_blank">description</a> from freeCodeCamp.
</p>
</body>
</html>